


body {
	width: 100px;
	height: 100px;
	background: url(https://i.pinimg.com/736x/79/47/91/79479172c18cd07513083c87756f7004.jpg)
}

.blokprinsipal {
	width:1000px;
	height: 1800px;
	background-color:rgba(213,216,161,0.8);
	position:absolute;
	left:175px;
	top:-27px;

}

h1{
	text-align:center;
	font-size:60px;
	font-family:"Comic Sans MS"
   
}




h1 {
	font-weight:normal;
	color:#000
	
}

p{
	text-align:center;
	color:#f00;
}



.padre {
	
	position: relative;
	top: 500px;
	left: 20px;
	position: center;
	width: 300px;
	height: 300px;
	
}	

.padre figure{

	box-shadow:15px;

	width:300px;
	height:300px;
	cursor:pointer;
	border-radius:20px;
	overflow:hidden;
}

.padre figure img{
	transition:all 500MS ease-out;
	border-radius:20px;
	position:relative;
	width:100%;
	height:100%;


}
	.padre figure:hover img{
		transform:scale(1.3);
	}

	.padre figure .palabras {
		font-size:30px;
		border-radius: 20px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		background-color: rgba(227,168,203,0.7);
		transition: all 500ms ease-out;
		opacity: 0;
		visibility: hidden;
		text-align: center;
	}

.padre figure:hover .palabras{
	opacity:1;
	visibility:visible;
}

.padre figure .palabras p{
	position:relative;
	top:30px;
	font-weight:900;
	font-family:"Comic Sans MS";
	color:#000000;
}

.padre figure .palabras h2 {
	font-size:30px;
	font-family:"Comic Sans MS";
	font-weight:900;
	}

.menu figure input {
	border-radius: 40px;
	font-family: "Cooper";
	font-size: 30px;
	color: #000000;
	background: url(https://i.pinimg.com/736x/79/47/91/79479172c18cd07513083c87756f7004.jpg );
	cursor: pointer;
	position: relative;
	left: 0px;
	top: -215px;
	width: 150px;
	height: 80px;
}

.menu figure .tienda {
	border-radius: 40px;
	font-family: "Cooper";
	font-size: 30px;
	color: #000000;
	background: url(https://i.pinimg.com/736x/79/47/91/79479172c18cd07513083c87756f7004.jpg);
	cursor: pointer;
	position: relative;
	left: 60px;
	top: -215px;
	width: 150px;
	height: 80px;
}
.logo figure img{
	border-radius:50%;
	position:relative;
	top:-550px;
	left:-20px;
}

.logazo h1{

	position:relative;
	top:60px;
	left:75px;

}

.flores{
	border-radius:20px;
	width:500px;
	height:250px;
}
	.flores figure {
		overflow:hidden;
		border-radius: 20px;
		position: absolute;
		top: 630px;
		left: 550px;
		z-index: 40;
		width: 500px;
		height: 250px;
		cursor: pointer;
		border-image:auto;
	}

	.flores figure img {
		transition:all 500ms ease-out;
		border-radius:20px;
		
		
		z-index:70;
		width: 100%;
		height: 100%;

	}

		.flores figure:hover img{
			transform:scale(1.3);
		}

		.flores figure .txtflores {
			
			font-size: 30px;
			color: #000000;
			font-family: "Comic Sans MS";
			text-align: center;
			border-radius: 20px;
			position: absolute;
			top: 0px;
			wiDth: 100%;
			height: 100%;
			background-color: rgba(227,168,203,0.7);
			opacity: 0;
			transition: all 500ms ease-out;
			visibility: hidden;
		}
			.flores figure .txtflores p {
				position: relative;
				top: 50px;
				font-weight: 900;
				color: #000000;
				
				
			}

			.flores figure:hover .txtflores {
				opacity: 1;
				visibility: visible;
			}

.ramotwo {
	border-radius: 20px;
	width: 400px;
	height: 400px;
}

	.ramotwo figure {
		overflow:hidden;
		border-color:#000000;
		border-radius: 20px;
		position: absolute;
		top: 930px;
		left: 650px;
		z-index: 40;
		width: 400px;
		height: 400px;
		cursor: pointer;
	}

		.ramotwo figure img {
			transition:all 500ms ease-out;
			border-color:#000000 ;
			border-radius: 20px;
			z-index: 70;
			width: 100%;
			height: 100%;
		}
			.ramotwo figure:hover img{
				transform:scale(1.3);

			}

			.ramotwo figure .txtramotwo {
				font-size: 30px;
				color: #000000;
				font-family: "Comic Sans MS";
				text-align: center;
				border-radius: 20px;
				position: absolute;
				top: 0px;
				wiDth: 100%;
				height: 100%;
				background-color: rgba(227,168,203,0.7);
				opacity: 0;
				transition: all 500ms ease-out;
				visibility: hidden;
			}

				.ramotwo figure .txtramotwo p {
					position: relative;
					top: 100px;
					font-weight: 900;
					color: #000000;
				}

.ramotwo figure:hover .txtramotwo {
	opacity: 1;
	visibility: visible;
}


.oso {
	border-radius: 20px;
	width: 400px;
	height: 400px;
}

	.oso figure {
		overflow:hidden;
		border-radius: 20px;
		position: absolute;
		top: 950px;
		left:200px;
		z-index: 40;
		width: 400px;
		height: 400px;
		cursor: pointer;
	}

		.oso figure img {
			transition:all 500ms ease-out;
			border-radius: 20px;
			z-index: 70;
			width: 100%;
			height: 100%;
		}

		.oso figure .txtoso {
			font-size: 30px;
			color: #000000;
			font-family: "Comic Sans MS";
			text-align: center;
			border-radius: 20px;
			position: absolute;
			top: 0px;
			wiDth: 100%;
			height: 100%;
			background-color: rgba(227,168,203,0.7);
			opacity: 0;
			transition: all 500ms ease-out;
			visibility: hidden;
		}
			.oso figure .txtoso p {
				position:relative;
				top:100px;
				font-weight:900;
				color: #000000;
			}

			.oso figure:hover .txtoso {
				opacity: 1;
				visibility: visible;
			}
			.oso figure:hover img{
				transform:scale(1.3);
			}


			.fondo {
				position: absolute;
				top: 330px;
				left: 175px;
				z-index: 40;
				width: 1000px;
				height: 160px;
			}
.fondo img{
	
	width:100%;
	height:100%;
}


.telefono{
	width:70px;
	height:70px;
}

.telefono figure {
	left:180px;
	position:absolute;
	top:1650px;
	z-index:50;
	width:70px;
	height:70px;

}

.telefono figure img{
	visibility:visible;
	position:absolute;
	top:0;
	
	width:110%;
	height:110%;
}

.telefono figure .imagen2 img{
	z-index:100;
	visibility:hidden;
	
	position:absolute;
	top:5px;
	left:5px;
	width:100%;
	height:100%;
	

}
.telefono figure .contacto p{
	position:relative;
	bottom:20px;
	color:#000000;
	text-align:start;
	
}

	.telefono figure .contacto {
		position: absolute;
		font-size: 20px;
		font-family: "Comic Sans MS";
		width: 260px;
		height: 30px;
		background-color: rgba(213,216,161,0.8);
		visibility: visible;
		top: 30px;
		left: 90px;
	}

.telefono figure:hover .imagen2 img{
	visibility:visible;
}
	.telefono figure:hover  img {
		visibility: hidden;
	}

	.telefono figure:hover .contacto{
		
		
		visibility:visible;
	}


.insta figure .arroba p{
	position:relative;
	top:-17px;
	color:#000;
}

.insta figure .arroba {
	visibility:visible;
	height:30px;
	font-size:20px;
	font-family:"Comic Sans MS";
	position:absolute;
	top:17px;
	left:110px;
	background-color: rgba(213,216,161,0.9)
	

}


	.insta{
		width:100px;
		height:90px;

	}

	.insta figure{
		z-index:50;
		position:absolute;
		top:1550px;
		left:165px;
		width:100px;
		height:90px;

	}

	.insta figure .insta1{
		position:relative;
		width:100px;
		height:80px;
	}

	.insta figure  .insta1 img{
		visibility:visible;
		width:100%;
		height:100%;
	}

	.insta figure .instatwo{
		visibility:hidden;
		position:relative;
		left:10px;
		top:-80px;
		width:80px;
		height:80px;
	}

	.insta figure .instatwo img{
		
		position:relative;
		width:100%;
		height:100%;
	}
	.insta figure:hover .instatwo img{
		visibility:visible;
	}
	

	.insta figure:hover .arroba{
		visibility:visible;

	}

	.txtprom figure{
		background-color:rgba(157,53,88,0.3);
		font-size:25px;
		position:absolute;
		left:135px;
		bottom:70px;
		z-index:100;
		width:1000px;
		height:200px;
	}

	.txtprom figure h2{
		text-align:center;
		font-family:"Cooper"

	}

	.contador figure{

		width:300px;
		height:50px;
		visibility:visible;
		position:absolute;
		top:1650px;
		left:1000px;

	}
	.contador figure .cuenta{
		
		position:relative;
		top:-40px;
		right:30px;
	}

	.contador figure .visitante{

		
		position:relative;
		top:5px;
		right:130px;

	}
		.contador figure .visitante p {
			text-align:left;
		color:#000000;
		font-family:"Comic Sans MS";
		font-size:20px;
		}


.ubicacion {
	position:absolute;
	width:100px;
	height:90px;
}
.ubicacion figure{
	z-index:50;
	position:absolute;
	top:230px;
	left:157px;
	z-index:50;
	
	width:100px;
	height:90px;


}
.ubicacion figure .ubione{
	visibility:visible;
	z-index:50;
	position:relative;
	width:100%;
	height:100%;

}
.ubicacion figure .ubione img{
	position:relative;
	width:100%;
	height:100%;

}

.ubicacion figure .ubitwo {

	visibility:hidden;
	z-index:100;
	position:absolute;
	top:8px;
	left:13px;
	width:73px;
	height:75px;
}

.ubicacion figure .ubitwo img{
	position:relative;
	width:100%;
	height:100%;
}

	

		

.ubicacion figure:hover .ubitwo{
	visibility:visible;
}

	.ubicacion figure .ubitxt {
	visibility:visible;
		position:absolute;
		top:20px;
		left:100px;
		background-color: rgba(213,216,161,0.9);
		font-family:"Comic Sans MS";
		font-size:20px;
		width:160px;
		height:30px;
	}

	.ubicacion figure .ubitxt p{
		position:relative;
		top:-18px;
		color:#000000;
	}

	.ubicacion figure:hover .ubitxt{
		visibility:visible;
	}



.fecha {
	position:absolute;
	left:1048px;
	top:0;
	background-color:rgba(43,46,63,0.9);
		font-size:20px;
		line-height:16px;
		display:inline-block;
		font-family:"Comic Sans MS";
		width:300px;
	    height:30px;

	}

	.fecha p{
		position:relative;
		top:-18px;
		padding:3px;
		float:left;
		color:#ffffff;
	}


	.hora{
		background-color:rgba(43,46,63,0.9);
		position:absolute;
		top:32px;
		left:1078px;
		width:270px;
		height:60px;
		font-size:50px;
		
		font-family:"Comic Sans MS";
	}
	.hora p{
		text-align:center;
		color:#ffffff;
		position:relative;
		top:-57px;
		left:60px;
		float:left;
		padding:3px;
	}

	.hora .cajaam{
		display:inline-block;
		font-size:25px;
		position:relative;
		top:25px;
		left:-43px;
	} 
	.hora .cajaseg {
		position:relative;
		top:50px;
		left:1px;
		font-size:25px;
	}

	.saludo{
		background-color:rgba(43,46,63,0.9);
		position:absolute;
		top:95px;
		left:1078px;
		width:270px;
		height:40px;
		font-size:28px;
		font-family:"Comic Sans MS";
	}

	.saludo p{
		position:relative;
		top:-28px;
		color:#ffffff;
	}

	.mapa1{
		position:absolute;
		top:1750px;
		width:1341px;
	}

.cod{
	height:70px;
	top:0;
	padding:8px;
	z-index:100;
	position:fixed;
	background:rgba(43,46,63,0.9);
	left:0;
	right:0;
}

.cod input{
	position:relative;
	right:0px;
	border:0;
	margin:0;
	background-color:#ffffff;
}